<div class="w3-half w3-card-4 w3-white note" >
		<div class="w3-container note-body w3-center">
			<form action="/notes" method="post">
					<input type="submit" value="Create a new note" class="w3-btn w3-large w3-round w3-black w3-margin">
			</form>			
		</div>
</div>


