<div class="w3-half w3-card-4 w3-white note" >
		<h1><textarea class="w3-container note-title" placeholder="Title" rows="2"></textarea></h1>
		<textarea class="w3-container note-body" placeholder="Note" rows="5"></textarea>
</div>

<script>
const wsURL = "ws://" + "{{host}}";
const wsId = "{{id}}";
</script>
<script src="/scripts/notes-script.js" type="text/javascript" ></script>